.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --mui-font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif !important;
}



.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  width: 100%;
  max-width: 1400px;
  margin: auto;
}

/* force 2 items in second row */
.gallery-card:nth-child(n+4) {
  grid-column: span 1;
}

.gallery-card {
  position: relative;
  height: 20rem;
  border-radius: 14px;
  overflow: hidden;
  cursor: pointer;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-overlay {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px;
  background: linear-gradient(to bottom, transparent 40%, rgba(0,0,0,0.6));
}

.gallery-tag {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.8;
  position: absolute;
  right: 12px;
  top: 12px;
}

.gallery-text {
  color: white;
}

.gallery-text .subtext {
  font-size: 12px;
  opacity: 0.8;
  margin: 0;
}

.gallery-text h3 {
  margin: 2px 0 0 0;
  font-size: 22px;
  font-weight: 600;
}
